-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'MANAGER', 'USER', 'GUEST');

-- CreateTable
CREATE TABLE "teams" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "code" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "name" VARCHAR(255),
    "role" "Role" NOT NULL DEFAULT 'USER',
    "teamId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "username" VARCHAR(255),
    "email" VARCHAR(255) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "url" TEXT,
    "bio" TEXT,
    "joined" TIMESTAMP(6),
    "number" INTEGER,
    "address" TEXT,
    "private" INTEGER,
    "log" INTEGER,
    "last_activity" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "codes_tables" (
    "id" INTEGER NOT NULL,
    "code1" VARCHAR(50) NOT NULL,
    "code2" VARCHAR(50) NOT NULL,
    "code3" VARCHAR(50) NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "description" VARCHAR(200) NOT NULL,
    "price" INTEGER NOT NULL,
    "div_operator" INTEGER NOT NULL,
    "company" INTEGER NOT NULL,
    "item_name" INTEGER NOT NULL,

    CONSTRAINT "codes_tables_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comp_items" (
    "id" INTEGER NOT NULL,
    "internal_code" INTEGER NOT NULL,
    "item_ar_name" VARCHAR(50) NOT NULL,
    "item_en_name" VARCHAR(50) NOT NULL,
    "main_item" INTEGER,
    "company_name" INTEGER NOT NULL,
    "price" DECIMAL(7,2) DEFAULT 0.00,
    "item_type" INTEGER,
    "weight" INTEGER NOT NULL,
    "unit" INTEGER NOT NULL DEFAULT 1,
    "package" VARCHAR(50) NOT NULL,
    "packet_weight" INTEGER NOT NULL,
    "image" VARCHAR(255),
    "date_exp" DATE,
    "item_code" INTEGER NOT NULL,
    "GTIP" INTEGER,
    "ismain_item" SMALLINT NOT NULL DEFAULT 0,

    CONSTRAINT "comp_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "companies" (
    "id" INTEGER NOT NULL,
    "company_name" VARCHAR(100),
    "compen" VARCHAR(100) NOT NULL,
    "Sequence1" INTEGER NOT NULL,
    "Sequence2" INTEGER NOT NULL,
    "place" VARCHAR(50) NOT NULL,
    "company_code" VARCHAR(3) NOT NULL,
    "logo" VARCHAR(255),
    "first_internal_serial" INTEGER NOT NULL,

    CONSTRAINT "companies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "depots" (
    "id" SERIAL NOT NULL,
    "depot_code" VARCHAR(3) NOT NULL,
    "depot_name" VARCHAR(50) NOT NULL,
    "location" VARCHAR(100),
    "manager_name" VARCHAR(50),
    "contact_number" VARCHAR(20),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "depots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "destination" (
    "id" INTEGER NOT NULL,
    "destination" VARCHAR(50),

    CONSTRAINT "destination_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "gates" (
    "id" INTEGER NOT NULL,
    "gate_name" VARCHAR(100) NOT NULL,

    CONSTRAINT "gates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "material_codes" (
    "id" INTEGER NOT NULL,
    "code_sys1" VARCHAR(100) NOT NULL,
    "code_sys2" VARCHAR(100) NOT NULL,
    "code_sys3" VARCHAR(100) NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "description" VARCHAR(300) NOT NULL,
    "division_factor" INTEGER NOT NULL,
    "GTIP" VARCHAR(12) NOT NULL,
    "comp_item" INTEGER NOT NULL,

    CONSTRAINT "material_codes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ports" (
    "id" INTEGER NOT NULL,
    "port_name" VARCHAR(50) NOT NULL,

    CONSTRAINT "ports_pk" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shipment_comp" (
    "id" INTEGER NOT NULL,
    "ship_comp" VARCHAR(50) NOT NULL,

    CONSTRAINT "shipment_comp_pk" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tariff_schedule" (
    "id" INTEGER NOT NULL,
    "Customs_item" VARCHAR(10) NOT NULL,
    "description" VARCHAR(150) NOT NULL,
    "Customs_fee" INTEGER NOT NULL,
    "Export_fee" INTEGER NOT NULL,
    "unit" VARCHAR(10) NOT NULL,

    CONSTRAINT "tariff_schedule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "traders" (
    "id" INTEGER NOT NULL,
    "trader" VARCHAR(50),
    "trader_code" VARCHAR(3) NOT NULL,

    CONSTRAINT "traders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "trans_2" (
    "id" INTEGER NOT NULL,
    "good_name" INTEGER NOT NULL,
    "trader" INTEGER NOT NULL,
    "destination" INTEGER NOT NULL,
    "invoice_num" INTEGER NOT NULL,
    "count" INTEGER NOT NULL,
    "weight" INTEGER NOT NULL,
    "truck_fare" INTEGER NOT NULL,
    "notes" VARCHAR(255) NOT NULL,
    "id_car" INTEGER NOT NULL,

    CONSTRAINT "trans_2_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transit_shipments" (
    "id" SERIAL NOT NULL,
    "shipping_date" DATE,
    "arrival_date" DATE,
    "status" VARCHAR(50),
    "shipping_company" INTEGER,
    "shipment_number" VARCHAR(100),
    "container_number" VARCHAR(100),
    "quantity" DECIMAL(15,2),
    "weight" DECIMAL(15,2),
    "company_name" INTEGER,
    "goods_description" TEXT,
    "invoice_number" VARCHAR(100),
    "invoice_date" DATE,
    "origin" VARCHAR(100),
    "cadri_invoice" VARCHAR(100),
    "cadri_invoice_date" DATE,
    "port" INTEGER,
    "crossing_point" INTEGER,
    "head_plate" VARCHAR(50),
    "trailer_plate" VARCHAR(50),
    "statement_date" DATE,

    CONSTRAINT "transit_shipments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transport" (
    "id" INTEGER NOT NULL,
    "download_date" DATE,
    "driver" VARCHAR(50) NOT NULL,
    "driver_num" VARCHAR(50) NOT NULL,
    "plate_front" VARCHAR(20) NOT NULL,
    "plate_back" VARCHAR(20) NOT NULL,
    "sort_num" INTEGER NOT NULL,
    "discharge_date" DATE,
    "notes" VARCHAR(255) NOT NULL,
    "transport_company" INTEGER NOT NULL,
    "gate" INTEGER NOT NULL,
    "car_id" INTEGER NOT NULL,

    CONSTRAINT "transport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transport_company" (
    "id" INTEGER NOT NULL,
    "trans_name" VARCHAR(50) NOT NULL,

    CONSTRAINT "transport_company_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "typeofitems" (
    "id" INTEGER NOT NULL,
    "item_type" VARCHAR(50) NOT NULL,
    "typecode" VARCHAR(3) NOT NULL,

    CONSTRAINT "typeofitems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "units" (
    "id" INTEGER NOT NULL,
    "unit_name" VARCHAR(50) NOT NULL DEFAULT '╪╖╪▒╪»',

    CONSTRAINT "units_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "documents" (
    "id" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileType" TEXT,
    "fileSize" INTEGER,
    "userId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_messages" (
    "id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "isUser" BOOLEAN NOT NULL DEFAULT true,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "teams_name_key" ON "teams"("name");

-- CreateIndex
CREATE UNIQUE INDEX "teams_code_key" ON "teams"("code");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "company" ON "codes_tables"("company");

-- CreateIndex
CREATE INDEX "item_name" ON "codes_tables"("item_name");

-- CreateIndex
CREATE INDEX "GTIP" ON "comp_items"("GTIP");

-- CreateIndex
CREATE INDEX "company_name" ON "comp_items"("company_name");

-- CreateIndex
CREATE INDEX "item_type" ON "comp_items"("item_type");

-- CreateIndex
CREATE INDEX "unit" ON "comp_items"("unit");

-- CreateIndex
CREATE UNIQUE INDEX "depots_depot_code_key" ON "depots"("depot_code");

-- CreateIndex
CREATE INDEX "comp_item" ON "material_codes"("comp_item");

-- CreateIndex
CREATE INDEX "Destination" ON "trans_2"("destination");

-- CreateIndex
CREATE INDEX "good_name" ON "trans_2"("good_name");

-- CreateIndex
CREATE INDEX "id_car" ON "trans_2"("id_car");

-- CreateIndex
CREATE INDEX "trader" ON "trans_2"("trader");

-- CreateIndex
CREATE INDEX "gate" ON "transport"("gate");

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "teams"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "codes_tables" ADD CONSTRAINT "codes_tables_ibfk_1" FOREIGN KEY ("item_name") REFERENCES "comp_items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "codes_tables" ADD CONSTRAINT "codes_tables_ibfk_2" FOREIGN KEY ("company") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "comp_items" ADD CONSTRAINT "comp_items_ibfk_1" FOREIGN KEY ("company_name") REFERENCES "companies"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comp_items" ADD CONSTRAINT "comp_items_ibfk_2" FOREIGN KEY ("item_type") REFERENCES "typeofitems"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comp_items" ADD CONSTRAINT "comp_items_ibfk_3" FOREIGN KEY ("GTIP") REFERENCES "tariff_schedule"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comp_items" ADD CONSTRAINT "comp_items_ibfk_4" FOREIGN KEY ("unit") REFERENCES "units"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "material_codes" ADD CONSTRAINT "material_codes_ibfk_1" FOREIGN KEY ("comp_item") REFERENCES "comp_items"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "trans_2" ADD CONSTRAINT "trans_2_ibfk_1" FOREIGN KEY ("good_name") REFERENCES "companies"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "trans_2" ADD CONSTRAINT "trans_2_ibfk_2" FOREIGN KEY ("destination") REFERENCES "destination"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "trans_2" ADD CONSTRAINT "trans_2_ibfk_3" FOREIGN KEY ("id_car") REFERENCES "transport"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "trans_2" ADD CONSTRAINT "trans_2_ibfk_4" FOREIGN KEY ("trader") REFERENCES "traders"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "transit_shipments" ADD CONSTRAINT "transit_shipments_companies_fk" FOREIGN KEY ("company_name") REFERENCES "companies"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "transit_shipments" ADD CONSTRAINT "transit_shipments_gates_fk" FOREIGN KEY ("crossing_point") REFERENCES "gates"("id") ON DELETE SET NULL ON UPDATE SET NULL;

-- AddForeignKey
ALTER TABLE "transit_shipments" ADD CONSTRAINT "transit_shipments_ports_fk" FOREIGN KEY ("port") REFERENCES "ports"("id") ON DELETE SET NULL ON UPDATE SET NULL;

-- AddForeignKey
ALTER TABLE "transit_shipments" ADD CONSTRAINT "transit_shipments_shipment_comp_fk" FOREIGN KEY ("shipping_company") REFERENCES "shipment_comp"("id") ON DELETE SET NULL ON UPDATE SET NULL;

-- AddForeignKey
ALTER TABLE "transport" ADD CONSTRAINT "transport_ibfk_1" FOREIGN KEY ("gate") REFERENCES "gates"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "transport" ADD CONSTRAINT "transport_ibfk_2" FOREIGN KEY ("transport_company") REFERENCES "transport_company"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "documents" ADD CONSTRAINT "documents_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_messages" ADD CONSTRAINT "chat_messages_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

